3.0.0.507
1137
1000,index.html,0,Welcome,0,1358531433,1
vti_globalpage:BW|true
1124,RTHS.HomePage.htm,0,RTHS.HomePage.htm,1000,1250004326,0
1136,old.RTPSD34.home.htm,0,old.RTPSD34.home.htm,1000,1326068754,0
1048,RTHS.Web.Pages/Sports/sports.page.htm,0,Sports,1124,1250004327,0
1049,RTHS.Web.Pages/Activities/activities.htm,0,Activities,1124,1250004327,0
1050,RTHS.Web.Pages/Student.Projects/student.projects.htm,0,Student Projects,1124,1250004327,0
1051,RTHS.Web.Pages/Teachers&Staff/Teachers&Staff.htm,0,Teachers&Staff,1124,1250004327,0
1052,RTHS.Web.Pages/District.Information/District.Information.htm,0,District Information,1124,1250004327,0
1021,RTHS.Web.Pages/RTHS.TRE.VR.Tour/RTHS.TRE.VirtualRealityTour.htm,0,RTHS Virtural Reality Tour,1124,1250004327,0
1053,RTHS.Web.Pages/Community.Page/community.page.htm,0,Community Page,1124,1250004327,0
1129,sports.video.htm,0,sports.video.htm,1048,1284737854,0
1080,RTHS.Web.Pages/Sports/Football/Football.htm,0,Football,1048,1168367035,0
1083,RTHS.Web.Pages/Sports/Volleyball/Volleyball.htm,0,Volleyball,1048,1168369124,0
1135,RTHS.Web.Pages/Sports/DHS.Coop/dhs.coop.htm,0,DHS Coop,1048,1325707311,0
1086,RTHS.Web.Pages/Sports/Rodeo/Rodeo.htm,0,Rodeo,1048,1168371099,0
1092,RTHS.Web.Pages/Sports/BoysBasketball/Boys.Basketball.html,0,Boys Basketball,1048,1219325425,0
1089,RTHS.Web.Pages/Sports/GirlsBasketball/Girls.Basketball.htm,0,Girls Basketball,1048,1168372289,0
1095,RTHS.Web.Pages/Sports/Track/Track.htm,0,Track,1048,1168385013,0
1111,RTHS.Web.Pages/Sports/Booster.club.htm,0,Booster.Club,1048,1177007000,0
1109,RTHS.Web.Pages/Activities/Academics/academics.htm,0,Academics,1049,1260978360,0
1072,RTHS.Web.Pages/Activities/Student Council/student.council.htm,0,Stu.Council,1049,1251383839,0
1071,RTHS.Web.Pages/Activities/Student Congress/student.congress.htm,0,Student Congress,1049,1251383839,0
1073,RTHS.Web.Pages/Activities/Music/Music.htm,0,Music,1049,1251383839,0
1079,RTHS.Web.Pages/Activities/Speech/speech.htm,0,Speech,1049,1251383839,0
1075,RTHS.Web.Pages/Activities/Drama/drama.htm,0,Drama,1049,1251383839,0
1076,RTHS.Web.Pages/Activities/Homecoming/homecoming.htm,0,Homecoming,1049,1168366055,0
1077,RTHS.Web.Pages/Activities/Spring Fling/snow_daze.htm,0,Snow Daze,1049,1201275955,0
1078,RTHS.Web.Pages/Activities/Prom/Prom.htm,0,Prom,1049,1260907732,0
1062,RTHS.Web.Pages/Student.Projects/student.web.pages.htm,0,Student Web Pages,1050,1168024386,0
1123,RTHS.Web.Pages/Student.Projects/engineering.projects.htm,0,engineering.projects,1050,1222106861,0
1064,RTHS.Web.Pages/Student.Projects/student.pictures.htm,0,Student.Pictures,1050,1168024386,0
1063,RTHS.Web.Pages/Student.Projects/student.resource.links.htm,0,Resource.Links,1050,1168024386,0
1101,Business.Web.Pages/RT.BusinessWebPages.htm,0,Business Web Pages,1050,1168546224,0
1058,RTHS.Web.Pages/Teachers&Staff/staff.directory.htm,0,Staff Directory,1051,1168021865,0
1061,RTHS.Web.Pages/Teachers&Staff/TeacherLessonPlans.htm,0,TeacherLessonPlans,1051,1168021768,0
1060,RTHS.Web.Pages/Teachers&Staff/teacherclasssched.htm,0,Teacher Class Schedule,1051,1168285424,0
1059,RTHS.Web.Pages/Teachers&Staff/teacher.links.htm,0,Teacher Links,1051,1168021665,0
1054,RTHS.Web.Pages/District.Information/mission.htm,0,Mission,1052,1168021590,0
1117,RTHS.Web.Pages/District.Information/Forms.htm,0,Forms,1052,1197490423,0
1056,RTHS.Web.Pages/District.Information/board.agenda&minutes.htm,0,Board.Agenda&Minutes,1052,1168021590,0
1055,RTHS.Web.Pages/District.Information/board.members.htm,0,Board.Members,1052,1168021590,0
1057,RTHS.Web.Pages/District.Information/RTHS.Policies.htm,0,RTHS.Policies,1052,1168021590,0
1065,RTHS.Web.Pages/District.Information/TRE/Tre.default.htm,0,TRE Home,1052,1168271883,0
1081,RTHS.Web.Pages/Sports/Football/FB.schedule.htm,0,FB.schedule,1080,1168367098,0
1082,RTHS.Web.Pages/Sports/Football/FB.pictures.htm,0,FB.Pictures,1080,1168369124,0
1084,RTHS.Web.Pages/Sports/Volleyball/VB.schedule.htm,0,VB.schedule,1083,1168369124,0
1085,RTHS.Web.Pages/Sports/Volleyball/VB.pictures.htm,0,VB.pictures,1083,1168369124,0
1087,RTHS.Web.Pages/Sports/Rodeo/Rodeo.Schedule.htm,0,Rodeo.Schedule,1086,1168372289,0
1088,RTHS.Web.Pages/Sports/Rodeo/Rodeo.Pictures.htm,0,Rodeo.Pictures,1086,1168372289,0
1093,RTHS.Web.Pages/Sports/BoysBasketball/BBB.Schedule.html,0,BBB.Schedule,1092,1168382989,0
1094,RTHS.Web.Pages/Sports/BoysBasketball/BBB.Picture.htm,0,BBB.Pictures,1092,1168382989,0
1090,RTHS.Web.Pages/Sports/GirlsBasketball/GBB.schedule.htm,0,GBB.Schedule,1089,1168372289,0
1091,RTHS.Web.Pages/Sports/GirlsBasketball/GBB.pictures.htm,0,GBB.Pictures,1089,1168372289,0
1096,RTHS.Web.Pages/Sports/Track/Track.schedule.htm,0,Track.Schedule,1095,1168385013,0
1097,RTHS.Web.Pages/Sports/Track/Track.pictures.htm,0,Track.pictures,1095,1168385013,0
1134,5Krun.htm,0,5Krun.htm,1095,1305298025,0
1108,RTHS.Web.Pages/Activities/Student Council/Shoe Boxes.htm,0,Shoe Boxes,1072,1169246946,0
1104,RTHS.Web.Pages/Activities/Student Congress/SC.schedule.htm,0,SC.Schedule,1071,1169246460,0
1103,RTHS.Web.Pages/Activities/Music/Concert2.htm,0,X-mas Concert,1073,1188934996,0
1105,RTHS.Web.Pages/Activities/Drama/one_act_play.htm,0,One Act Play,1075,1169246946,0
1128,jr__high_play.htm,0,Jr. High Play,1075,1272034732,0
1106,RTHS.Web.Pages/Activities/Drama/Musical1.htm,0,musical,1075,1169246946,0
1102,RTHS.Web.Pages/Activities/Homecoming/royalty.htm,0,Royalty,1076,1169244891,0
1118,RTHS.Web.Pages/Activities/Homecoming/monday.htm,0,Monday,1076,1219413124,0
1119,RTHS.Web.Pages/Activities/Homecoming/tuesday.htm,0,Tuesday,1076,1219413141,0
1120,RTHS.Web.Pages/Activities/Homecoming/wednesday.htm,0,Wednesday,1076,1219413155,0
1121,RTHS.Web.Pages/Activities/Homecoming/thursday.htm,0,Thursday,1076,1219413084,0
1122,RTHS.Web.Pages/Activities/Homecoming/friday.htm,0,Friday,1076,1219413109,0
1130,tuesday.htm,0,Tuesday,1077,1297794329,0
1131,new_page_2.htm,0,Wednesday,1077,1297794887,0
1132,thursday.htm,0,Thursday,1077,1297795788,0
1133,friday.htm,0,Friday,1077,1325874263,0
1068,RTHS.Web.Pages/District.Information/TRE/tre.staff.htm,0,TRE Staff,1065,1168272620,0
1067,RTHS.Web.Pages/District.Information/TRE/VRTour.htm,0,TRE VR Tour,1065,1168272476,0
1110,test.htm,0,test,1065,1173204367,0