vti_encoding:SR|utf8-nl
http\://www.drspock.com/article/0,1510,5941+++,00.html:ashley\\ ice_cream.htm
/ashleymesser/icecream_anim.gif:ashley\\ ice_cream.htm
/mitcherdle/ice_cream_files/image003.gif:mitch\\ ice_cream.htm
http\://www.ice-cream-recipes.com/ice_cream_recipe_vanilla.htm:mitch\\ ice_cream.htm
/mitcherdle/wphas7.gif:mitch\\ ice_cream.htm
ice_cream_files/image005.gif:jeremy\\ ice_cream.htm mitch\\ ice_cream.htm
/ashleymesser/heading_fasc.gif:ashley\\ ice_cream.htm
/juliehoff/scoops3.jpg:julies\\ ice_cream.htm
/apriltormaschy/br4.gif:ice-cream.htm
/apriltormaschy/mov line.gif:ice-cream.htm
http\://www.brighams.com/html/funfacts.html:julies\\ ice_cream.htm
http\://www.indiaexpress.com/cgi-bin/cook/suggest_recipe.cgi:mitch\\ ice_cream.htm
/mitcherdle/cream8.gif:mitch\\ ice_cream.htm
http\://store.yahoo.com/sendicecream/chocminicecr.html:ashley\\ ice_cream.htm
http\://store.yahoo.com/sendicecream/vanicecream.html:ashley\\ ice_cream.htm
/apriltormaschy/gw1-1.jpg:ice-cream.htm
/jeremymesser/ice_cream_files/image005.gif:jeremy\\ ice_cream.htm
/juliehoff/u2-withorwithoutyou.wav:julies\\ ice_cream.htm
http\://www.ent.iastate.edu/ipm/iiin/bredflou.html:lepidoptera.htm
http\://www.indiaexpress.com/cooking/fruit_sundae.html:mitch\\ ice_cream.htm
/juliehoff/icecreamcone_animated.gif:julies\\ ice_cream.htm
http\://www.foodsci.uoguelph.ca/dairyedu/ichist.html:ashley\\ ice_cream.htm
/mitcherdle/ice_cream_files/image006.gif:mitch\\ ice_cream.htm
/apriltormaschy/br2.gif:ice-cream.htm
/ashleymesser/cone_lg_wte.gif:ashley\\ ice_cream.htm
http\://www.csittl.com/old/00list88.html:ice-cream.htm
/ashleymesser/pinkedge1rule.gif:ashley\\ ice_cream.htm
http\://www.freerecipe.org/dessert/frozen/ice_creamstrawberry_bchjf.htm:julies\\ ice_cream.htm
/ashleymesser/pinocchioprod_1727_5782331.gif:ashley\\ ice_cream.htm
http\://www.ent.iastate.edu/dept/courses/ent201/diversity/hemiptera/240hemiptera.html:homoptera.htm
http\://www.ent.iastate.edu/misc/insectsasfood/ccg.html:lepidoptera.htm
http\://store.yahoo.com/sendicecream/pumicecream.html:ashley\\ ice_cream.htm
ice_cr3.jpg:mitch\\ ice_cream.htm
/apriltormaschy/br9.gif:ice-cream.htm
/juliehoff/icrmban.gif:julies\\ ice_cream.htm
/mitcherdle/salt2.gif:mitch\\ ice_cream.htm
_themes/citrus/cittext.gif:lepidoptera.htm
http\://www.freerecipe.org/dessert/frozen/sundaes/karobutter_hghj.htm:julies\\ ice_cream.htm
http\://www.eeb.uconn.edu/faculty/simon/cicada.htm:homoptera.htm
http\://www.funideas.com/images/product/gag_gift/large/kh010.jpg:mitch\\ ice_cream.htm
http\://http\://tolweb.org/tree:landrybug.htm
http\://www.ent.iastate.edu/misc/insectsasfood/chirpie.html:landrybug.htm lepidoptera.htm
http\://alfy.lycos.com/arcade/youngkids/icecream/index.asp:mitch\\ ice_cream.htm
/juliehoff/frzcrv3.gif:julies\\ ice_cream.htm
ice_cream_files/image008.gif:mitch\\ ice_cream.htm
javascript\: var popup=open('viewimage.php?item=gw1&i=1','gw1','width=640,height=583');:ice-cream.htm
/juliehoff/stainless steel.gif:julies\\ ice_cream.htm
file\:///c\:/docume~1/courtn~1.mes/locals~1/temp/frontpagetempdir/wpe4.jpg:homoptera.htm
/ashleymesser/images/ice/zbkgnd.gif:ashley\\ ice_cream.htm
ice_cream_files/image006.gif:mitch\\ ice_cream.htm
http\://www.geocities.com/tilly_ant/bugs/circusb.jpg:homoptera.htm
/ashleymesser/images/ice/homericetruck.wav:ashley\\ ice_cream.htm
_themes/willow/willbk.jpg:kremington.htm
http\://acewallpapers.com/clipart/ice__cream_cake_birthday/birth12[1].gif:mitch\\ ice_cream.htm
i-hy-vpen-ad.004[1].gif:hymenoptera.htm
/mitcherdle/ice_cream_files/image002.gif:mitch\\ ice_cream.htm
/jeremymesser/ice_cream_files/filelist.xml:jeremy\\ ice_cream.htm
http\://www.chebucto.ns.ca/environment/nhr/images/a_fatima.jpg:kremington.htm
http\://www.indiaexpress.net/cooking/fruit_sundae.html:ashley\\ ice_cream.htm
_themes/blitz/btzbul1a.gif:hymenoptera.htm
http\://store.yahoo.com/sendicecream/cookdougicec.html:ashley\\ ice_cream.htm
palmda1[1].jpg:hymenoptera.htm
http\://www.ipm.iastate.edu/ipm/hortnews/1996/6-14-1996/bugzapper.html:lepidoptera.htm
/mitcherdle/at_shake.thm.jpg:mitch\\ ice_cream.htm
/mitcherdle/icecream.jpg:mitch\\ ice_cream.htm
_themes/blitz/btztilea.gif:hymenoptera.htm
http\://store1.yimg.com/i/sendicecream_1721_605599:julies\\ ice_cream.htm
http\://store.yahoo.com/sendicecream/strawicecrea.html:ashley\\ ice_cream.htm
http\://www.ice-cream-recipes.com/but1.gif:mitch\\ ice_cream.htm
ice_cream_files/image004.gif:jeremy\\ ice_cream.htm
/mitcherdle/ice_cream_files/image004.gif:mitch\\ ice_cream.htm
/juliehoff/ice-cream.gif:julies\\ ice_cream.htm
s-to8.jpg:hymenoptera.htm
/apriltormaschy/br7.gif:ice-cream.htm
http\://www.geocities.com/tilly_ant/bugs/clap.jpg:homoptera.htm
ice_cream_files/image002.jpg:jeremy\\ ice_cream.htm
ice_cream_files/image001.png:mitch\\ ice_cream.htm
j0199284.wmf:hymenoptera.htm
http\://store1.yimg.com/i/jensco_1725_24060746:jeremy\\ ice_cream.htm
http\://www.arches.uga.edu/~mnj/blue/tsld010.htm:ashley\\ ice_cream.htm
/apriltormaschy/br3.gif:ice-cream.htm
http\://www.brighams.com/funfacts/iconsund.gif:mitch\\ ice_cream.htm
/mitcherdle/ice_cr3.jpg:mitch\\ ice_cream.htm
/jeremymesser/wphas7.gif:jeremy\\ ice_cream.htm
http\://www.bindependent.com/prodpics/elc362.jpg:icecream.htm andrew\\ icecream.htm
http\://www.benjerry.com/fun/:ice-cream.htm
/juliehoff/j0264290[1].gif:julies\\ ice_cream.htm
/juliehoff/fd00340_[1].gif:julies\\ ice_cream.htm
/apriltormaschy/ice baknecone.jpg:ice-cream.htm
http\://www.cyberspaceag.com/icecreamfacts.html:mitch\\ ice_cream.htm
http\://www.conefactory.com/:ashley\\ ice_cream.htm
ice_cr2.jpg:mitch\\ ice_cream.htm
http\://oncampus.richmond.edu/academics/as/chemistry/cmor/info/modadd/fpd/fpd1.gif:icecream.htm andrew\\ icecream.htm
http\://store1.yimg.com/i/sendicecream_1721_790419:jeremy\\ ice_cream.htm
http\://www.food-insects.com:homoptera.htm
http\://www.ice-cream-recipes.com/ice_cream_sorbets.htm:icecream.htm andrew\\ icecream.htm
/apriltormaschy/ice crm.gif:ice-cream.htm
/jeremymesser/ice_cream_files/image004.gif:jeremy\\ ice_cream.htm
http\://store1.yimg.com/i/sendicecream_1721_601489:jeremy\\ ice_cream.htm
http\://www.dsuper.net/~zaz/icecream/chocolat.gif:mitch\\ ice_cream.htm
http\://store.yahoo.com/sendicecream/chocicecream.html:ashley\\ ice_cream.htm
/apriltormaschy/br5.gif:ice-cream.htm
ice_cream.htm:julies\\ ice_cream.htm
http\://store1.yimg.com/i/jensco_1721_23358256:jeremy\\ ice_cream.htm
http\://encarta.msn.com/:lepidoptera.htm
/apriltormaschy/pr_30051.jpg:ice-cream.htm
http\://previews.nvtech.com/02/tf05099/nvtech_food0967.jpg:mitch\\ ice_cream.htm
/mitcherdle/ice_cream_files/image007.gif:mitch\\ ice_cream.htm
/andrewbernhardt/newhistorytitle.gif:icecream.htm andrew\\ icecream.htm
/ashleymesser/pinocchioprod_1727_5773841.gif:ashley\\ ice_cream.htm
/apriltormaschy/img80.gif:ice-cream.htm
ice_cream_files/image007.gif:mitch\\ ice_cream.htm
/apriltormaschy/ice cremsundae.jpg:ice-cream.htm
http\://ebay0.ipixmedia.com/abc/m28/_ebay_6bf8bea2c65ccf2555b03c26c02029d9/i-1.jpg:icecream.htm andrew\\ icecream.htm
http\://store.yahoo.com/sendicecream/whitchocicec.html:ashley\\ ice_cream.htm
/jeremymesser/ice_cream_files/image002.jpg:jeremy\\ ice_cream.htm
http\://store1.yimg.com/i/sendicecream_1721_781809:jeremy\\ ice_cream.htm
http\://www.wcrl.ars.usda.gov/cec/photo/v41.htm:hymenoptera.htm
http\://www.funideas.com/images/product/gag_gift/large/kh009.jpg:mitch\\ ice_cream.htm
http\://www.indiaexpress.com/cooking/:mitch\\ ice_cream.htm
http\://www.cgl.uwaterloo.ca/~smann/icecream/recipes/chocolate/chocolate.1:julies\\ ice_cream.htm
http\://home.earthlink.net/~rlusk12/recipes/desserts/really_bad.html:julies\\ ice_cream.htm
/ashleymesser/pinocchioprod_1727_5789141.gif:ashley\\ ice_cream.htm
http\://www.chillyphilly.com/salt.html:mitch\\ ice_cream.htm
http\://www.netpub.cstudies.ubc.ca/dagilis/fun.htm:ashley\\ ice_cream.htm
http\://www.dsuper.net/~zaz/icecream/fudgec.gif:mitch\\ ice_cream.htm
http\://www.chebucto.ns.ca/environment/nhr/lep_images.html:kremington.htm
http\://www.benjerry.com/fun/scooper-challenge.tpl:icecream.htm andrew\\ icecream.htm
http\://search.ent.iastate.edu/search/multi/default:homoptera.htm
http\://www.chebucto.ns.ca/environment/nhr/images/i_io.jpg:kremington.htm
http\://www.ice-cream-recipes.com/ice_cream_maker.htm:mitch\\ ice_cream.htm
http\://www.geocities.com/pchew_brisbane/palmdart.htm:hymenoptera.htm
j0289457.jpg:hymenoptera.htm
/apriltormaschy/br1.gif:ice-cream.htm
/mitcherdle/ice_cr1.jpg:mitch\\ ice_cream.htm
http\://www.geocities.com/tilly_ant/bugs/mywings.jpg:homoptera.htm
/juliehoff/ice_cream_files/filelist.xml:julies\\ ice_cream.htm
/apriltormaschy/br8.gif:ice-cream.htm
http\://www.freerecipe.org/dessert/frozen/ice_cream/vanillaice_iagc.htm:julies\\ ice_cream.htm
/mitcherdle/salt1.gif:mitch\\ ice_cream.htm
j0233439.wmf:hymenoptera.htm
http\://www.ipm.iastate.edu/ipm/icm/1996/7-8-1996/leafhop.html:homoptera.htm
/apriltormaschy/conemoving.gif:ice-cream.htm
/mitcherdle/ice_cream_files/image005.gif:mitch\\ ice_cream.htm
waspd.jpg:hymenoptera.htm
/juliehoff/kh010.gif:julies\\ ice_cream.htm
http\://www.1-online-shopping.com/vip/food/ice-cream-history.htm:julies\\ ice_cream.htm
http\://previews.nvtech.com/01/tf05056/nvtech_food0065.jpg:mitch\\ ice_cream.htm
http\://www.aplusart.com/cgibin/autorank/rankem.cgi:mitch\\ ice_cream.htm
http\://www.ipm.ucdavis.edu/pmg/v/i-hy-vpen-ad.004.html:hymenoptera.htm
an00223_[1].wmf:hymenoptera.htm
_themes/citrus/citbul1a.gif:lepidoptera.htm
file\:///c\:/docume~1/courtn~1.mes/locals~1/temp/frontpagetempdir/wpe8.jpg:homoptera.htm
/juliehoff/stoeckel professional scoop.gif:julies\\ ice_cream.htm
/mitcherdle/ice_cream_files/filelist.xml:mitch\\ ice_cream.htm
http\://www.funideas.com/images/product/gag_gift/large/kh008.jpg:mitch\\ ice_cream.htm
ice_cream_files/image003.gif:jeremy\\ ice_cream.htm
http\://www.chebucto.ns.ca/environment/nhr/images/r_dysonii.jpg:kremington.htm
/ashleymesser/images/ice/sundae.gif:ashley\\ ice_cream.htm
/apriltormaschy/br6.gif:ice-cream.htm
ice_cream_files/image001.gif:julies\\ ice_cream.htm
/ashleymesser/icbb.gif:ashley\\ ice_cream.htm
ice_cream_files/image001.jpg:jeremy\\ ice_cream.htm
x-dataconn\://www.richardton.k12.nd.us/sciencesp/sample/driver={microsoft access driver (*.mdb)};dbq=url=fpdb/fpnwind.mdb:global.asa
http\://www.geocities.com/tilly_ant/bugs/heimfranslim.jpg:homoptera.htm
http\://www.olympus.net/dggordon/eatabug.htm:homoptera.htm
/apriltormaschy/conf.jpg:ice-cream.htm
/mitcherdle/ice_cr2.jpg:mitch\\ ice_cream.htm
/mitcherdle/ice_cream_files/image008.gif:mitch\\ ice_cream.htm
http\://www.ent.iastate.edu/misc/insectsasfood/ccc.html:lepidoptera.htm
/apriltormaschy/br10.gif:ice-cream.htm
ice_cr1.jpg:mitch\\ ice_cream.htm
http\://www.uky.edu/agriculture/entomology/ythfacts/bugfood/bugfood.htm:homoptera.htm
http\://www.bindependent.com/prodpics/elc363.jpg:icecream.htm andrew\\ icecream.htm
http\://www.brighams.com/funfacts/:mitch\\ ice_cream.htm ashley\\ ice_cream.htm
http\://www.conefactory.com/gamesarea/gametemplate.asp:julies\\ ice_cream.htm
/jeremymesser/ice_cream_files/image003.gif:jeremy\\ ice_cream.htm
/juliehoff/vv_back5.gif:julies\\ ice_cream.htm
/jeremymesser/ice_cream_files/image001.jpg:jeremy\\ ice_cream.htm
http\://www.geocities.com/hollywood/cinema/6409/:homoptera.htm
http\://tolweb.org/tree/eukaryotes/animals/arthropoda/hexapoda/ephemeroptera/mayfly3.220.gif:landrybug.htm
