vti_encoding:SR|utf8-nl
vti_author:SR|Administrator
vti_modifiedby:SR|Administrator
vti_timecreated:TR|27 Jan 2004 16:18:32 -0000
vti_timelastmodified:TR|27 Jan 2004 16:18:32 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|27 Jan 2004 16:18:32 -0000
vti_filesize:IR|5003
vti_cachedlinkinfo:VX|S|indbannd.gif S|indhbudd.gif S|indhbusd.gif S|indhombd.gif S|indnexbd.gif S|indprebd.gif S|indupbd.gif S|indglob.gif S|indvbudd.gif S|indvbusd.gif
vti_cachedsvcrellinks:VX|FSUS|grundy/_themes/indust/indbannd.gif FSUS|grundy/_themes/indust/indhbudd.gif FSUS|grundy/_themes/indust/indhbusd.gif FSUS|grundy/_themes/indust/indhombd.gif FSUS|grundy/_themes/indust/indnexbd.gif FSUS|grundy/_themes/indust/indprebd.gif FSUS|grundy/_themes/indust/indupbd.gif FSUS|grundy/_themes/indust/indglob.gif FSUS|grundy/_themes/indust/indvbudd.gif FSUS|grundy/_themes/indust/indvbusd.gif
vti_backlinkinfo:VX|
