vti_encoding:SR|utf8-nl
http\://www.richardton-taylor.k12.nd.us/announcements/announcements.pdf:practicepage.htm
http\://www.google.com/coop/cse/brand:images/20270.htm
/graphics/funny+pics:images/20270.htm
/css/layouts/extended.css:images/20270.htm
/graphics/good+bye:images/20270.htm
/graphics/latin:images/20270.htm
http\://www.formspring.me/images/logo_small.png:blue\\ checkers.htm images/483-neon-blue-checkers.htm
http\://www.formspring.me/profile/profilebrand.rss:blue\\ checkers.htm images/483-neon-blue-checkers.htm
/graphics/tennaya:images/20270.htm
/graphics/flirty:images/20270.htm
/graphics/happy+birthday:images/20270.htm
/graphics/holidays:images/20270.htm
/c\:/docume~1/nicole~1.lei/locals~1/temp/frontpagetempdir/imagescaggpb0w_small.jpg:practicepage.htm
http\://www.richardton-taylor.k12.nd.us/rths.web.pages/student.projects/student.projects.htm:activities\\ page.htm
http\://www.formspring.me/js/profile.js:blue\\ checkers.htm images/483-neon-blue-checkers.htm
http\://www.americanidol.com/videos/season_10/performances/lauren_alaina_candle_in_the_wind/:semester.test.htm
/graphics/congratulations:images/20270.htm
http\://www.yahoo.com:activities\\ page.htm practicepage.htm
/graphics/zodiac:images/20270.htm
/graphics/new+years:images/20270.htm
http\://www.formspring.me/profilebrand/q/391841292:blue\\ checkers.htm images/483-neon-blue-checkers.htm
javascript\://:blue\\ checkers.htm images/483-neon-blue-checkers.htm
http\://www.myhotcomments.com/graphics/20270:images/20270.htm
/graphics/school:images/20270.htm
http\://www.wrtc.com/zapnd/history.htm:map.hotspots.htm
http\://www.formspring.me/css/profile.css:blue\\ checkers.htm images/483-neon-blue-checkers.htm
mailto\:coley_wuzhere@yahoo.com:_borders/bottom.htm practicepage.htm
http\://www.hotfreelayouts.com/layouts/popular:images/20270.htm
/graphics/guys:images/20270.htm
http\://player.radio.com/player/yahooplayer.php:activities\\ page.htm
http\://www.youtube.com:activities\\ page.htm
http\://www.formspring.me/images/indicator.gif:blue\\ checkers.htm images/483-neon-blue-checkers.htm
/graphics/music:images/20270.htm
http\://www.americanidol.com/videos/season_10/performances/haley_reinhart_piece_of_my_heart/:semester.test.htm
http\://www.myhotcomments.com/main/search:images/20270.htm
/graphics/about+me:images/20270.htm
/graphics/other:images/20270.htm
/main/contactus:images/20270.htm
http\://www.formspring.me/profile/ask:blue\\ checkers.htm images/483-neon-blue-checkers.htm
http\://www.richardton-taylor.k12.nd.us/tibor/default.htm:activities\\ page.htm
http\://www.formspring.me/images/photo_default.png:blue\\ checkers.htm images/483-neon-blue-checkers.htm
http\://lc.fdots.com/cc/lc/6d/6d899681ac5be99a97b3b6220a576b10.gif:images/20270.htm
/main/privacy:images/20270.htm
/graphics/hugs:images/20270.htm
javascript\:void(0):semester.test.htm shoppingspreepagehtm.htm rolemodel.htm practicepage.htm
http\://www.artmoth.com/images/content/backgrounds/3-1281020409-bg-neon-blue-checkers.gif:blue\\ checkers.htm images/483-neon-blue-checkers.htm
/graphics/popular:images/20270.htm
http\://www.formspring.me/bluegrad.gif:blue\\ checkers.htm images/483-neon-blue-checkers.htm
http\://www.profilebrand.com/:blue\\ checkers.htm images/483-neon-blue-checkers.htm
/graphics/pride:images/20270.htm
images/www.myspace.com/skyedslynnspoiled__chickk:images/20270.htm
http\://www.wikifeet.com/:practicepage.htm
https\://richardton-taylor.ps.state.nd.us/public/:activities\\ page.htm
/graphics/picture+comments:images/20270.htm
/graphics/good+day:images/20270.htm
/graphics/hi,+hello,+hey:images/20270.htm
http\://www.hersheys.com/reeses.aspx:practicepage.htm
http\://www.formspring.me/account/inbox:blue\\ checkers.htm images/483-neon-blue-checkers.htm
http\://www.formspring.me/:blue\\ checkers.htm images/483-neon-blue-checkers.htm
http\://www.formspring.me/483-neon-blue-checkers.htm:images/483-neon-blue-checkers.htm
http\://www.rollingstone.com:activities\\ page.htm
http\://www.thebuccaneer.com/st-croix-beaches.htm:practicepage.htm
http\://www.thebuccaneer.com/dine.htm:practicepage.htm
http\://www.artmoth.com/formspring-backgrounds/preview/484-green-checkers/:blue\\ checkers.htm images/483-neon-blue-checkers.htm
http\://www.formspring.me/account/settings:blue\\ checkers.htm images/483-neon-blue-checkers.htm
http\://www.artmoth.com/formspring-backgrounds/:blue\\ checkers.htm images/483-neon-blue-checkers.htm
http\://www.metatube.com/en/videos/54796/scotty-mccreery-idol-performance-3a30a11/:semester.test.htm
/graphics/showing+love:images/20270.htm
/graphics/st.+patrick's+day:images/20270.htm
/graphics/i+miss+you:images/20270.htm
/graphics/icons:images/20270.htm
/graphics/religious:images/20270.htm
/graphics/new+baby:images/20270.htm
http\://www.myhotcomments.com/graphics/latest:images/20270.htm
http\://www.hottopic.com:shoppingspreepagehtm.htm
http\://www.realnd.com/jamestownbuffaloindex.htm:map.hotspots.htm
http\://www.americanidol.com:semester.test.htm
http\://www.richardton-taylor.k12.nd.us/:_borders/left.htm map.hotspots.htm
/graphics/girls:images/20270.htm
http\://www.formspring.me/search/profiles:blue\\ checkers.htm images/483-neon-blue-checkers.htm
/graphics/thinking+of+you:images/20270.htm
/graphics/taken:images/20270.htm
/graphics/love:images/20270.htm
http\://www.richardton-taylor.k12.nd.us/tech/default.htm:activities\\ page.htm
http\://www.aeropostale.com/shop/index.jsp:shoppingspreepagehtm.htm
/graphics/latest:images/20270.htm
/graphics/friends:images/20270.htm
http\://www.artmoth.com/formspring-backgrounds/preview/482-gradient-checkers/:blue\\ checkers.htm images/483-neon-blue-checkers.htm
http\://www.formspring.me/css/tooltips.css:blue\\ checkers.htm images/483-neon-blue-checkers.htm
http\://api.recaptcha.net/js/recaptcha_ajax.js:blue\\ checkers.htm images/483-neon-blue-checkers.htm
/graphics/thanks+for+the+add:images/20270.htm
http\://www.google-analytics.com/urchin.js:images/20270.htm
/graphics/kisses:images/20270.htm
http\://www.formspring.me/account/logout:blue\\ checkers.htm images/483-neon-blue-checkers.htm
http\://www.formspring.me/css/site.css:blue\\ checkers.htm images/483-neon-blue-checkers.htm
http\://pagead2.googlesyndication.com/pagead/show_ads.js:images/20270.htm
/graphics/movies:images/20270.htm
/img/layouts/extended/th_logo.png:images/20270.htm
http\://www.google.com/:practicepage.htm
http\://www.formspring.me/blue checkers.htm:blue\\ checkers.htm
/main/tos:images/20270.htm
/graphics/hot:images/20270.htm
http\://x.myspace.com/images/myspace_logo_16.gif:images/20270.htm
/js/profile.js:images/20270.htm
http\://www.richardton-taylor.k12.nd.us/kayla.zent/index.htm:activities\\ page.htm
https\://www.jobscore.com/jobs/formspringme/list:blue\\ checkers.htm images/483-neon-blue-checkers.htm
http\://formspringme.zendesk.com:blue\\ checkers.htm images/483-neon-blue-checkers.htm
http\://www.richardton-taylor.k12.nd.us/rths.homepage.htm:practicepage.htm
javascript\:getthis('', '<a href=http\://www.myhotcomments.com/graphics/20270><img src=http\://lc.fdots.com/cc/lc/6d/6d899681ac5be99a97b3b6220a576b10.gif><br>myhotcomments</a>', '', 3):images/20270.htm
http\://www.hotfreelayouts.com/layouts/latest/:images/20270.htm
/graphics/comment+back:images/20270.htm
javascript\:getthis('', '<a href=http\://www.myhotcomments.com/graphics/20270><img src=http\://lc.fdots.com/cc/lc/6d/6d899681ac5be99a97b3b6220a576b10.gif><br>myhotcomments</a>', '', 2):images/20270.htm
http\://www.artmoth.com/formspring-backgrounds/details/483-neon-blue-checkers/:blue\\ checkers.htm images/483-neon-blue-checkers.htm
http\://www.formspring.me/favicon.ico:blue\\ checkers.htm images/483-neon-blue-checkers.htm
/graphics/quotes:images/20270.htm
http\://www.myhotcomments.com/images/1.gif:images/20270.htm
http\://www.thebuccaneer.com/golf.htm:practicepage.htm
http\://www.enchantedhighway.net/:map.hotspots.htm
http\://www.realnd.com/salemsueindex.htm:map.hotspots.htm
/img/layouts/extended/myhotcomment_logo.png:images/20270.htm
/graphics/heroes:images/20270.htm
/js/comment.js:images/20270.htm
http\://www.evanity.com:shoppingspreepagehtm.htm
/favicon.ico:images/20270.htm
http\://www.hotfreelayouts.com/layouts/latest:images/20270.htm
/graphics/get+well+soon:images/20270.htm
/graphics/heart+broken:images/20270.htm
http\://www.richardton-taylor.k12.nd.us/science/default.htm:activities\\ page.htm
http\://www.newsalem-nd.com/attractions.html:map.hotspots.htm
http\://www.richardton-taylor.k12.nd.us/filibeck/default.htm:activities\\ page.htm
http\://www.richardton-taylor.k12.nd.us/zentner/default.htm:activities\\ page.htm
http\://www.roadsideamerica.com/story/2714:map.hotspots.htm
http\://www.formspring.me/follow/stream:blue\\ checkers.htm images/483-neon-blue-checkers.htm
http\://www.formspring.me/site/terms:blue\\ checkers.htm images/483-neon-blue-checkers.htm
http\://www.formspring.me/profilebrand:blue\\ checkers.htm images/483-neon-blue-checkers.htm
http\://www.dickinsonparks.org/wrcc.asp:map.hotspots.htm
/graphics/20270:images/20270.htm
http\://www.realnd.com/wahpetoncatfishindex.htm:map.hotspots.htm
http\://www.formspring.me/site/privacy:blue\\ checkers.htm images/483-neon-blue-checkers.htm
http\://www.amyleeworld.com/:rolemodel.htm
/graphics/sorry:images/20270.htm
/graphics/thank+you:images/20270.htm
http\://sharks.nhl.com/:practicepage.htm
