vti_encoding:SR|utf8-nl
mailto\:ndf2f@medicine.nodak.edu:parent_resources.htm
http\://medicine.nodak.edu/crh:parent_resources.htm
http\://www.geocites.com/ndfv/:parent_resources.htm
http\://www.pathfinder.minot.com:parent_resources.htm
http\://www.conted.und.edu/connections:parent_resources.htm
mailto\:celebrate@ctctel.com:parent_resources.htm
mailto\:ndffrg19@idt.net:parent_resources.htm
mailto\:panda@state.nd.us:parent_resources.htm
