vti_encoding:SR|utf8-nl
http\://http\://www.ultimaterollercoaster.com/coasters/pictures/zoomerang/zoom2.shtml:kalvin's_world's_bestest_rollercoaster.htm
http\://www.americanmidway.com/pictures/sfstl/boss2.jpg:the_boss.htm
http\://www.adventureland-usa.com/default.asp:the_boss.htm
file\:///c\:/windows/temp/msoclip1/01/clip_image001.wmz:kalvin's_world's_bestest_rollercoaster.htm
http\://www.sixflags.com/america/:batwing.htm
http\://orlandosavers.com/en-us/p_30.html:the_mean_streak.htm
http\://www.ultimaterollercoaster.com/coasters/pictures/zoomerang/zoom1.shtml:kalvin's_world's_bestest_rollercoaster.htm
http\://www.americanmidway.com/pictures/sfstl/boss1.jpg:the_boss.htm
javascript\:openwindow('/galleryimages/the-boss.jpg','','640','480','the boss');:the_boss.htm
http\://www.customcoasters.com/images/boss03.jpg:the_boss.htm
http\://www.worldsoffun.com/index.cfm:mamba.htm
http\://www.worldsoffun.com/rides/thrill/fullsize_photos/mamba_close.jpg:mamba.htm
http\://www.valleyfair.com/index.htm:kalvin's_world's_bestest_rollercoaster.htm
http\://www.warnervideo.com/superman:jennie.htm
