vti_encoding:SR|utf8-nl
file\:///f\:/inetpub/wwwroot/default.htm:tre.default.htm tre.vr.htm tre.staff.htm
mailto\:janine.olson@sendit.nodak.edu:tre.staff.htm
/f\:/inetpub/wwwroot/rths.tre.virtualrealitytour.htm:vrtour.htm
/f\:/inetpub/wwwroot/rths web pages/rths.tre.vr.tour/tre_room_sam_inc.htm:vrtour.htm
http\://www.richardton.k12.nd.us:_borders/right.htm
tre.htm:tre/tre.vr.htm tre/tre.htm tre/tre.staff.htm
faculty&staff.htm:tre/tre.vr.htm tre/tre.htm tre/tre.staff.htm
mailto\:cindy.dohrmann@sendit.nodak.edu:tre.staff.htm
/f\:/inetpub/wwwroot/rths web pages/rths.tre.vr.tour/front_of_tre.htm:vrtour.htm
tre.vr.htm:tre/tre.vr.htm tre/tre.htm tre/tre.staff.htm
/f\:/inetpub/wwwroot/rths web pages/rths.tre.vr.tour/tregympanorama.htm:vrtour.htm
