vti_encoding:SR|utf8-nl
vti_author:SR|Tibor
vti_modifiedby:SR|Tibor
vti_timecreated:TR|29 Jan 2004 23:13:57 -0000
vti_timelastmodified:TR|29 Jan 2004 23:13:57 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|29 Jan 2004 23:11:29 -0000
vti_filesize:IR|5351
vti_cachedlinkinfo:VX|S|expbannd.gif S|exphbudd.gif S|exphbusd.gif S|exphombd.gif S|expnexbd.gif S|expprebd.gif S|expupbd.gif S|expglob.gif S|expvbudd.gif S|expvbusd.gif
vti_cachedsvcrellinks:VX|FSUS|tibor/_themes/expeditn/expbannd.gif FSUS|tibor/_themes/expeditn/exphbudd.gif FSUS|tibor/_themes/expeditn/exphbusd.gif FSUS|tibor/_themes/expeditn/exphombd.gif FSUS|tibor/_themes/expeditn/expnexbd.gif FSUS|tibor/_themes/expeditn/expprebd.gif FSUS|tibor/_themes/expeditn/expupbd.gif FSUS|tibor/_themes/expeditn/expglob.gif FSUS|tibor/_themes/expeditn/expvbudd.gif FSUS|tibor/_themes/expeditn/expvbusd.gif
vti_backlinkinfo:VX|
