vti_encoding:SR|utf8-nl
vti_author:SR|Tibor
vti_modifiedby:SR|Tibor
vti_timecreated:TR|29 Jan 2004 23:13:57 -0000
vti_timelastmodified:TR|29 Jan 2004 23:13:57 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|29 Jan 2004 23:11:29 -0000
vti_filesize:IR|2232
vti_cachedlinkinfo:VX|S|expglob.gif S|exptextb.jpg
vti_cachedsvcrellinks:VX|FSUS|tibor/_themes/expeditn/expglob.gif FSUS|tibor/_themes/expeditn/exptextb.jpg
vti_backlinkinfo:VX|
