vti_encoding:SR|utf8-nl
mailto\:kayla.zent.1@sendit.nodak.edu:index.htm
http\://www.pennywiselearning.com/media/products/samkah.jpg:algebra_1_2.htm
/c\:/docume~1/kayla~1.zen/locals~1/temp/msoclip1/01/clip_image001.png:precalc.htm algebra_3.htm
/c\:/docume~1/kayla~1.zen/locals~1/temp/msoclip1/01/clip_image003.png:precalc.htm algebra_3.htm
