vti_encoding:SR|utf8-nl
vti_author:SR|endora\\administrator
vti_modifiedby:SR|endora\\administrator
vti_timecreated:TR|05 Dec 2001 23:49:55 -0000
vti_timelastmodified:TR|05 Dec 2001 23:49:55 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|05 Dec 2001 23:49:55 -0000
vti_filesize:IR|5508
vti_cachedlinkinfo:VX|S|sumbannd.gif S|sumhbudd.gif S|sumhbusd.gif S|sumhombd.gif S|sumnexbd.gif S|sumprebd.gif S|sumupbd.gif S|sumglob.gif S|sumvbudd.gif S|sumvbusd.gif
vti_cachedsvcrellinks:VX|FSUS|zentner/_themes/sumipntg/sumbannd.gif FSUS|zentner/_themes/sumipntg/sumhbudd.gif FSUS|zentner/_themes/sumipntg/sumhbusd.gif FSUS|zentner/_themes/sumipntg/sumhombd.gif FSUS|zentner/_themes/sumipntg/sumnexbd.gif FSUS|zentner/_themes/sumipntg/sumprebd.gif FSUS|zentner/_themes/sumipntg/sumupbd.gif FSUS|zentner/_themes/sumipntg/sumglob.gif FSUS|zentner/_themes/sumipntg/sumvbudd.gif FSUS|zentner/_themes/sumipntg/sumvbusd.gif
vti_backlinkinfo:VX|
