vti_encoding:SR|utf8-nl
vti_author:SR|endora\\administrator
vti_modifiedby:SR|endora\\administrator
vti_timecreated:TR|05 Dec 2001 23:49:55 -0000
vti_timelastmodified:TR|05 Dec 2001 23:49:55 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|05 Dec 2001 23:49:55 -0000
vti_filesize:IR|10670
vti_cachedlinkinfo:VX|S|sumglob.gif S|sumtextb.jpg S|bluedot.gif
vti_cachedsvcrellinks:VX|FSUS|zentner/_themes/sumipntg/sumglob.gif FSUS|zentner/_themes/sumipntg/sumtextb.jpg FSUS|zentner/_themes/sumipntg/bluedot.gif
vti_backlinkinfo:VX|
