vti_encoding:SR|utf8-nl
vti_author:SR|Olson
vti_modifiedby:SR|ENDORA\\travis.olson
vti_timecreated:TR|29 Jan 2004 16:06:45 -0000
vti_timelastmodified:TR|13 Sep 2006 15:32:53 -0000
vti_extenderversion:SR|4.0.2.8912
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TR|29 Jan 2004 16:06:45 -0000
vti_cacheddtm:TX|29 Jan 2004 23:09:25 -0000
vti_filesize:IR|1101
vti_lineageid:SR|{60E13D8E-8765-4E7E-AB5C-DD1FE339CD97}
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
