vti_encoding:SR|utf8-nl
vti_author:SR|Olson
vti_modifiedby:SR|ENDORA\\travis.olson
vti_timecreated:TR|29 Jan 2004 16:06:49 -0000
vti_timelastmodified:TR|13 Sep 2006 15:32:57 -0000
vti_extenderversion:SR|4.0.2.8912
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TR|29 Jan 2004 16:06:49 -0000
vti_cacheddtm:TX|13 Sep 2006 15:32:57 -0000
vti_filesize:IR|10691
vti_cachedlinkinfo:VX|S|expglob.gif S|exptextb.jpg S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|olson/_themes/expeditn/expglob.gif FSUS|olson/_themes/expeditn/exptextb.jpg FSUS|olson/_themes/expeditn/blank.gif
vti_lineageid:SR|{71A71B27-BBE9-458D-9B53-278FFE3A7BA3}
