vti_encoding:SR|utf8-nl
lesson_plans_files/filelist.xml:lesson_plans.htm
http\://www.richardton-taylor.k12.nd.us/:default.htm
http\://catchupmath.com/:math\\ web\\ sites.htm
http\://www.richardton.k12.nd.us:consumer\\ math.htm
http\://www.typingtest.com/:student_resources.htm
http\://www.irs.gov/app/understandingtaxes/jsp/s_student_lessons.jsp:personal_&_business_law.htm
http\://www.homeworkspot.com/:math\\ web\\ sites.htm
http\://www.learn2type.com/typingtest/typingtest.cfm:student_resources.htm
http\://www.freetypinggame.net/free-typing-test.asp:student_resources.htm
http\://www.phy.ntnu.edu.tw/ntnujava/index.php:math\\ web\\ sites.htm
http\://themathworksheetsite.com/coordinate_plane.html:student_resources.htm
http\://www.khanacademy.org/:math\\ web\\ sites.htm
