vti_encoding:SR|utf8-nl
vti_author:SR|endora\\administrator
vti_modifiedby:SR|endora\\administrator
vti_timecreated:TR|06 Dec 2001 00:06:33 -0000
vti_timelastmodified:TR|06 Dec 2001 00:06:33 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|06 Dec 2001 00:06:33 -0000
vti_filesize:IR|1770
vti_cachedlinkinfo:VX|S|narule.gif S|nabull1.gif S|nabull2.gif S|nabull3.gif S|nabnr.gif S|naphb.gif S|naphbp.gif S|napvb.gif S|napvbp.gif S|nahome.gif S|nanext.gif S|naprev.gif S|naup.gif S|nabull1.gif S|nabull2.gif S|nabull3.gif
vti_cachedsvcrellinks:VX|FSUS|anatomy/_themes/nature/narule.gif FSUS|anatomy/_themes/nature/nabull1.gif FSUS|anatomy/_themes/nature/nabull2.gif FSUS|anatomy/_themes/nature/nabull3.gif FSUS|anatomy/_themes/nature/nabnr.gif FSUS|anatomy/_themes/nature/naphb.gif FSUS|anatomy/_themes/nature/naphbp.gif FSUS|anatomy/_themes/nature/napvb.gif FSUS|anatomy/_themes/nature/napvbp.gif FSUS|anatomy/_themes/nature/nahome.gif FSUS|anatomy/_themes/nature/nanext.gif FSUS|anatomy/_themes/nature/naprev.gif FSUS|anatomy/_themes/nature/naup.gif FSUS|anatomy/_themes/nature/nabull1.gif FSUS|anatomy/_themes/nature/nabull2.gif FSUS|anatomy/_themes/nature/nabull3.gif
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_backlinkinfo:VX|
