vti_encoding:SR|utf8-nl
vti_author:SR|SAnderson
vti_modifiedby:SR|SAnderson
vti_timecreated:TR|29 Jan 2004 22:03:17 -0000
vti_timelastmodified:TR|29 Jan 2004 22:03:17 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|29 Jan 2004 23:09:49 -0000
vti_filesize:IR|1733
vti_cachedlinkinfo:VX|S|romhorsd.gif S|rombul1d.gif S|rombul2d.gif S|rombul3d.gif S|rombannd.gif S|romhbudd.gif S|romhbusd.gif S|romhbudd.gif S|romvbusd.gif S|romhombd.gif S|romnexbd.gif S|romprebd.gif S|romupbd.gif S|rombul1d.gif S|rombul2d.gif S|rombul3d.gif
vti_cachedsvcrellinks:VX|FSUS|anderson/_themes/rmnsque/romhorsd.gif FSUS|anderson/_themes/rmnsque/rombul1d.gif FSUS|anderson/_themes/rmnsque/rombul2d.gif FSUS|anderson/_themes/rmnsque/rombul3d.gif FSUS|anderson/_themes/rmnsque/rombannd.gif FSUS|anderson/_themes/rmnsque/romhbudd.gif FSUS|anderson/_themes/rmnsque/romhbusd.gif FSUS|anderson/_themes/rmnsque/romhbudd.gif FSUS|anderson/_themes/rmnsque/romvbusd.gif FSUS|anderson/_themes/rmnsque/romhombd.gif FSUS|anderson/_themes/rmnsque/romnexbd.gif FSUS|anderson/_themes/rmnsque/romprebd.gif FSUS|anderson/_themes/rmnsque/romupbd.gif FSUS|anderson/_themes/rmnsque/rombul1d.gif FSUS|anderson/_themes/rmnsque/rombul2d.gif FSUS|anderson/_themes/rmnsque/rombul3d.gif
vti_backlinkinfo:VX|
