vti_encoding:SR|utf8-nl
vti_author:SR|SAnderson
vti_modifiedby:SR|SAnderson
vti_timecreated:TR|29 Jan 2004 22:03:21 -0000
vti_timelastmodified:TR|29 Jan 2004 22:03:21 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|29 Jan 2004 23:09:53 -0000
vti_filesize:IR|2212
vti_cachedlinkinfo:VX|S|romglob.gif S|romtextb.jpg
vti_cachedsvcrellinks:VX|FSUS|anderson/_themes/rmnsque/romglob.gif FSUS|anderson/_themes/rmnsque/romtextb.jpg
vti_backlinkinfo:VX|
