vti_encoding:SR|utf8-nl
http\://animaldiversity.ummz.umich.edu/search/advanced/index.html:mink_jessi.htm
http\://www.mbr-pwrc.usgs.gov/infocenter/photo/images/h3160p2.jpg:mourning_dove.htm
http\://www.mbr.nbs.gov/id/framlst/i6520id.html:yellow_warbler.htm
http\://www.americanartifacts.com/smma/per/p18.jpg:barn_swallow1.htm
http\://comet.directhit.com/fcgi-bin/redirurl.fcg:grass_frog.htm prickly_pear_cactus1.htm
http\://www.canr.uconn.edu/plsci/mbrand/j/junhor/junhor20.jpg:creeping_juniper.htm
http\://www.duckcalls.net/bckgrdwhite.jpg:mallard_duck.htm
http\://www.pprl.usu.edu/water_hemlock.htm:water_hemlock_jessi.htm
http\://www.americanartifacts.com/smma/per/b4.htm:barn_swallow1.htm
http\://birds.cornell.edu/onlineguide/mcqueenbio.html:black\\ &\\ white\\ warbler.htm
http\://animaldiversity.ummz.umich.edu/media/phil/plnbest.jpg:deermouse.htm
http\://www.forages.css.orst.edu/topics/species/legumes/alfalfa/images/alfalfa2.gif:cattail.htm
http\://www.lib.ksu.edu/wildflower/wildplum.html:wild\\ plum\\ page.htm
http\://www.vet.purdue.edu/depts/addl/toxic/color02.htm:burdock.htm
http\://herpnet.net/iowa-herpetology/amphibians/frogs_toads/chorusfrog.html:chorus_frog.htm chorus_frogal.htm
http\://members.tripod.com/~scalisti/cutesy.jpg:fox_squirrel1.htm
http\://www.encyclopedia.com:mallard_duck.htm
http\://www.findarticles.com/g2603/0004/2603000461/p1/article.jhtml:yellow_sweet_clover.htm
http\://www.agr.gov.sk.ca/docs/crops/integrated_pest_management/weed_identification_broadleaf_weeds/whemlock.asp:water_hemlock_jessi.htm
http\://encarta.msn.com/find/concise.asp:mink_jessi.htm prickly_pear_cactus.htm prickly_pear_cactusal.htm
http\://ndsuext.nodak.edu/extpubs/alt-ag/pheasan.htm:pheasant.htm
http\://www.umass.edu/umext/nrec/snake_pit/pages/scales.html:common_garter_snake.htm
http\://exn.ca/mini/endangered/racer.cfm:blue_racer2.htm blue_racer2al.htm
http\://www.drakeshuntinglodge.com/images/duckpic.jpg:mallard_duck.htm
http\://www.mbr.nbs.gov/id/framlst/photo/images/h6520p2.jpg:yellow_warbler.htm
http\://animaldiversity.ummz.umich.edu/animalia.html:mink_jessi.htm
http\://www.findarticles.com/g2603/0002/2603000213/p1/article.jhtml:yellow_sweet_clover.htm
http\://animaldiversity.ummz.umich.edu/chordata.html:mink_jessi.htm
http\://www.texashardwood.com/:american_elm.htm
http\://animaldiversity.ummz.umich.edu/accounts/mustela/m._vison$narrative.html:mink_jessi.htm
http\://animaldiversity.ummz.umich.edu/chordata/mammalia/carnivora/mustelidae.html:mink_jessi.htm
http\://www.nps.gov/brca/najuniper.htm:rocky_mountain.htm rocky_mountainal.htm
http\://rbcm1.rbcm.gov.bc.ca/end_species/species/aesdisk0/salamand.jpg:tiger_salamander1.htm
http\://www.npwrc.usgs.gov/resource/tools/upland/pheasant.htm:pheasant.htm
http\://www.findarticles.com/g2603/0002/2603000232/p1/article.jhtml:yellow_sweet_clover.htm
http\://www.hcs.ohio-state.edu/odnr/education/ohiotrees/elmamerican.htm:american_elm.htm
http\://www.rook.org/:red_osier.htm
http\://www.science.mcmaster.ca/biology/harbour/wildlif/frogs/sp4.htm:chorus_frog.htm chorus_frogal.htm
http\://encyclopedia.com/articles/36370.html:mallard_duck.htm
http\://www.findarticles.com/g2603/0001/2603000131/p1/article.jhtml:yellow_sweet_clover.htm
http\://www.agf.gov.bc.ca/croplive/cropprot/weedguid/kochia.htm:fireweed\\ page.htm
http\://www.na.fs.fed.us/spfo/pubs/silvics_manual/volume_1/juniperus/scopulorum.htm:rocky_mountain.htm rocky_mountainal.htm
http\://www.npwrc.usgs.gov/narcam/idguide/chorus.htm:chorus_frog.htm chorus_frogal.htm
file\:///f\:/shanna.martin/bubbles.jpg:alison.htm
http\://www.npwrc.usgs.gov/narcam/idguide/atigrin.htm:tiger_salamander.htm
http\://www.birdnature.com:tree_sparrow.htm
http\://rbcm1.rbcm.gov.bc.ca/end_species/es_gloss/es_gloss.html:tiger_salamander1.htm
http\://www.nhptv.org/natureworks/barnswallow.htm:barn_swallow.htm
http\://www.sibr.com/mammals/m158.html:mink_jessi.htm
http\://animaldiversity.ummz.umich.edu/media/phil/peromyscus_leucopus_37.jpg:deermouse.htm
http\://www.bcadventure.com/adventure/wilderness/birds/ringneck.htm:pheasant.htm
http\://www.findarticles.com/g2603/0006/2603000602/p1/article.jhtml:yellow_sweet_clover.htm
http\://www.findarticles.com/g2603/0004/2603000408/p1/article.jhtml:yellow_sweet_clover.htm
http\://bioag.byu.edu/aghort/tree_tour/rocky.htm:rocky_mountain.htm rocky_mountainal.htm
http\://animaldiversity.ummz.umich.edu/accounts/pseudacris/p._triseriata:western_chorus_frog.htm
http\://www.agric.gov.ab.ca/agdex/200/770331n.html:choke_cherry.htm
http\://www.mbr.nbs.gov/id/framlst/photo/images/h6130pi.jpg:barn_swallow1.htm
http\://www.cws-scf.ec.gc.ca/copy_e.html:chad_redfox6.htm
http\://www.mbr-pwrc.usgs.gov/infocenter/photo/images/h3160pi.jpg:mourning_dove.htm
http\://www.mpelectric.com/treebook/fact114.html:american_elm.htm
http\://www.nature.ca/notebooks/images/ammink.gif:chad-mink_51.htm
http\://www.findarticles.com/g2603/0004/2603000415/p1/article.jhtml:yellow_sweet_clover.htm
http\://www.whose-tadpole.de/key-to-adult-amphibia/r-temporaria.htm:grass_frog.htm
http\://www.encarta.com:mallard_duck.htm
http\://birds.cornell.edu/bow/yelwar/:yellow_warbler.htm
http\://members.tripod.com/~scalisti/foxsquirrel.jpg:fox_squirrel1.htm
http\://www.ohiokids.org/ohc/nature/animals/reptile/nleopardfrog.html:northern_leopard_frog.htm northern_leopard_frogal.htm
http\://www.desertusa.com/magoct97/oct_pa/du_prkpear.html:prickly_pear_cactus.htm prickly_pear_cactusal.htm prickly_pear_cactus1.htm
http\://www.stanfordalumni.org/birdsite/text/species/tree_swallow.html:tree_sparrow.htm
http\://botanical.com/botanical/mgmh/h/hemwat19.html:water_hemlock_jessi.htm
http\://www.canr.uconn.edu/plsci/mbrand/j/junhor/junhor1.html:creeping_juniper.htm
http\://www.canr.uconn.edu/plsci/mbrand/j/junhor/junhor05.jpg:creeping_juniper.htm
http\://www.umass.edu/umext/nrec/snake_pit/pages/eribbon.html:common_garter_snake.htm
http\://www.wbu.com/chipperwoods/index.htm:hermit_thrush\\ page.htm
http\://animaldiversity.ummz.umich.edu/accounts/mniotilta/m._varia$narrative.html:black\\ &\\ white\\ warbler.htm
http\://www.museevirtuel.ca/exhibitions/birds/pma/vexeggs/passer/hthrsh.htm:hermit_thrush\\ page.htm
http\://www.csub.edu/fact/prairiefalcon.html:prairie_falcon.htm
http\://www.mbr.nbs.gov/id/framlst/i6130id.html:barn_swallow1.htm
http\://www.ohiokids.org/ohc/nature/animals/reptile/bracer.html:blue_racer2.htm blue_racer2al.htm
http\://www.cws-scf.ec.gc.ca/es/renew/renew98_99/eng/blurac.htm:blue_racer2.htm blue_racer2al.htm
http\://animaldiversity.ummz.umich.edu/media/phil/pln1.jpg:deermouse.htm
http\://www.racehorseherbal.com/wild_herbs/sweet_clover/sweet_clover.html:yellow_sweet_clover.htm
http\://encyclopedia.com/articles/29159.html:alfalfa2.htm
http\://www.sciencenation.com:mallard_duck.htm
http\://www.bcadventure.com/adventure/wilderness/forest/rmjuniper.htm:rocky_mountain.htm rocky_mountainal.htm
http\://www.cmnh.org/research/vertzoo/frogs/brachyphona.html:chorus_frog.htm chorus_frogal.htm
http\://animaldiversity.ummz.umich.edu/chordata/mammalia/carnivora.html:mink_jessi.htm
http\://birds.cornell.edu/bow/bnwwar/:black\\ &\\ white\\ warbler.htm
http\://animaldiversity.ummz.umich.edu/chordata/mammalia.html:mink_jessi.htm
http\://www.angelfire.com/fl/scalisti/foxsqrls.html:fox_squirrel1.htm
http\://www.botanical.com:burdock.htm
http\://members.tripod.com/scalisti/foxsqrl2.jpg:fox_squirrel1.htm
http\://wwmag.net/pages/pricklycactus.htm:prickly_pear_cactus1.htm
