vti_encoding:SR|utf8-nl
vti_author:SR|endora\\zimmer
vti_modifiedby:SR|endora\\zimmer
vti_timecreated:TR|12 Dec 2001 23:48:14 -0000
vti_timelastmodified:TR|12 Dec 2001 23:48:14 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|12 Dec 2001 23:48:14 -0000
vti_filesize:IR|5204
vti_cachedlinkinfo:VX|S|stonbnr.gif S|stonhb.gif S|stonhbs.gif S|stonhom.gif S|stonnxt.gif S|stonpre.gif S|stonup.gif S|stonglbu.gif S|stonvb.gif S|stonvbs.gif
vti_cachedsvcrellinks:VX|FSUS|zimmerman/_themes/sandston/stonbnr.gif FSUS|zimmerman/_themes/sandston/stonhb.gif FSUS|zimmerman/_themes/sandston/stonhbs.gif FSUS|zimmerman/_themes/sandston/stonhom.gif FSUS|zimmerman/_themes/sandston/stonnxt.gif FSUS|zimmerman/_themes/sandston/stonpre.gif FSUS|zimmerman/_themes/sandston/stonup.gif FSUS|zimmerman/_themes/sandston/stonglbu.gif FSUS|zimmerman/_themes/sandston/stonvb.gif FSUS|zimmerman/_themes/sandston/stonvbs.gif
vti_backlinkinfo:VX|
