vti_encoding:SR|utf8-nl
vti_author:SR|endora\\zimmer
vti_modifiedby:SR|endora\\zimmer
vti_timecreated:TR|12 Dec 2001 23:48:14 -0000
vti_timelastmodified:TR|12 Dec 2001 23:48:14 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|12 Dec 2001 23:48:14 -0000
vti_filesize:IR|1451
vti_cachedlinkinfo:VX|S|stonbnr.gif S|stonrul.gif S|stonbu1.gif S|stonbu2.gif S|stonbu3.gif S|stonhbs.gif S|stonhb.gif S|stonvbs.gif S|stonvb.gif S|stonhom.gif S|stonup.gif S|stonpre.gif S|stonnxt.gif S|stonbu1.gif S|stonbu2.gif S|stonbu3.gif
vti_cachedsvcrellinks:VX|FSUS|zimmerman/_themes/sandston/stonbnr.gif FSUS|zimmerman/_themes/sandston/stonrul.gif FSUS|zimmerman/_themes/sandston/stonbu1.gif FSUS|zimmerman/_themes/sandston/stonbu2.gif FSUS|zimmerman/_themes/sandston/stonbu3.gif FSUS|zimmerman/_themes/sandston/stonhbs.gif FSUS|zimmerman/_themes/sandston/stonhb.gif FSUS|zimmerman/_themes/sandston/stonvbs.gif FSUS|zimmerman/_themes/sandston/stonvb.gif FSUS|zimmerman/_themes/sandston/stonhom.gif FSUS|zimmerman/_themes/sandston/stonup.gif FSUS|zimmerman/_themes/sandston/stonpre.gif FSUS|zimmerman/_themes/sandston/stonnxt.gif FSUS|zimmerman/_themes/sandston/stonbu1.gif FSUS|zimmerman/_themes/sandston/stonbu2.gif FSUS|zimmerman/_themes/sandston/stonbu3.gif
vti_backlinkinfo:VX|
