vti_encoding:SR|utf8-nl
vti_author:SR|Messer
vti_modifiedby:SR|ENDORA\\Messer
vti_timecreated:TR|29 Jan 2004 23:05:46 -0000
vti_timelastmodified:TR|18 Feb 2004 16:11:50 -0000
vti_extenderversion:SR|5.0.2.2623
vti_nexttolasttimemodified:TR|29 Jan 2004 23:05:46 -0000
vti_cacheddtm:TX|29 Jan 2004 23:11:28 -0000
vti_filesize:IR|1851
vti_cachedlinkinfo:VX|S|ablbnr.gif S|ablrule.gif S|ablbull1.gif S|ablbull2.gif S|ablbull3.gif S|blhbp.gif S|blhbs.gif S|blhbh.gif S|blvbp.gif S|blvbs.gif S|blvbh.gif S|blhomes.gif S|blhomeh.gif S|blhomes.gif S|blups.gif S|bluph.gif S|blups.gif S|blprevs.gif S|blprevh.gif S|blprevs.gif S|blnexts.gif S|blnexth.gif S|blnexts.gif S|ablbull1.gif S|ablbull2.gif S|ablbull3.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/blank/ablbnr.gif FSUS|_themes/blank/ablrule.gif FSUS|_themes/blank/ablbull1.gif FSUS|_themes/blank/ablbull2.gif FSUS|_themes/blank/ablbull3.gif FSUS|_themes/blank/blhbp.gif FSUS|_themes/blank/blhbs.gif FSUS|_themes/blank/blhbh.gif FSUS|_themes/blank/blvbp.gif FSUS|_themes/blank/blvbs.gif FSUS|_themes/blank/blvbh.gif FSUS|_themes/blank/blhomes.gif FSUS|_themes/blank/blhomeh.gif FSUS|_themes/blank/blhomes.gif FSUS|_themes/blank/blups.gif FSUS|_themes/blank/bluph.gif FSUS|_themes/blank/blups.gif FSUS|_themes/blank/blprevs.gif FSUS|_themes/blank/blprevh.gif FSUS|_themes/blank/blprevs.gif FSUS|_themes/blank/blnexts.gif FSUS|_themes/blank/blnexth.gif FSUS|_themes/blank/blnexts.gif FSUS|_themes/blank/ablbull1.gif FSUS|_themes/blank/ablbull2.gif FSUS|_themes/blank/ablbull3.gif
vti_lineageid:SR|{10F9578B-DA0A-4B73-BD44-C6ACF328AEF4}
vti_backlinkinfo:VX|
