vti_encoding:SR|utf8-nl
news2.ram:tibor/news2.html news2.html
http\://www.real.com/products/player:news2.html
http\://dewey.chs.chico.k12.ca.us/engl.html:american\\ lit.htm
http\://www.rpi.edu/web/writingcenter/apa.html:english_11.htm
http\://www.rpi.edu/web/writingcenter/mla.html:english_11.htm
mailto\:harvey.tibor@sendit.nodak.edu:default.htm
http\://www.bbc.co.uk/education/languages/spanish/:spanish_i.htm
file\:///c\:/program files/real/realproducer/getfree.jpg:news1.html
http\://www.studyspanish.com/:spanish_i.htm
http\://www.wisc.edu/writing/handbook/assignments.html:english_9.htm english_11.htm
http\://www.sdcoe.k12.ca.us/score/cy912.html:american\\ lit.htm
valentine 1.jpg:tibor/index.htm tibor/monday.htm/news/index.htm
valentine 3.jpg:tibor/index.htm
http\://www.columbia.edu/cu/cup/cgos/idx_basic.html:english_11.htm
http\://www.bulfinch.org/fables/welcome.html:english_9.htm
news.ram:tibor/news1.html
valentine 2.jpg:tibor/index.htm tibor/monday.htm/sports/basketball/index.htm
file\:///c\:/program files/real/realproducer/rprod_on.gif:news1.html
http\://www.studyspanish.com/dailyword/index.htm:default.htm
http\://www.bellmore-merrick.k12.ny.us/guides.html:american\\ lit.htm
http\://www.utexas.edu/coc/journalism/source/journal_links/ap_style.html:english_9.htm english_11.htm
