vti_encoding:SR|utf8-nl
http\://www.house.gov/:american_government.htm
/darrenmesser/amendments.htm:amendments.htm
/brittanymesser/amendments.htm:amendments.htm
/chrisscherr/amendments.htm:amendments.htm
/mirandamayer/amendments.htm:amendments.htm
http\://www.crystalinks.com/sioux.html:new_page_1.htm
/andrewbernhardt/amendments.htm:amendments.htm
/mitcherdle/amendments.htm:amendments.htm
/apriltormaschy/amendments.htm:amendments.htm
/schneider/amendments.htm:amendments.htm
http\://www.discovernd.com:north_dakota_history.htm
/joshbecker/amendments.htm:amendments.htm
/dustyfeatherstone/amendments.htm:amendments.htm
/leannamarcusen/amendments.htm:amendments.htm
/joshkuhn/amendment.htm:amendments.htm
http\://www.senate.gov/~conrad/:north_dakota_history.htm
file\://///rtweb/wwwroot/grundhauser/tr2.jpg:nd\\ history.htm
http\://www.rootsweb.com/~nwa/sacajawea.html:new_page_1.htm
http\://www.supremecourtus.gov/:american_government.htm
/justinrummel/amendments.htm:amendments.htm
/juliehoff/amendments.htm:amendments.htm
/jessinaaluise/amendments.htm:amendments.htm
http\://dorgan.senate.gov/index.cfm:north_dakota_history.htm
http\://www.state.nd.us/lr/:north_dakota_history.htm
mailto\:craig.grundhauser@sendit.nodak.edu:default.htm index.htm
http\://www.pbs.org/lewisandclark/:new_page_1.htm
http\://www.cbs.com:index.htm
http\://www.yahoo.com:index.htm
http\://www.garryowen.com:new_page_1.htm
http\://www.senate.gov/:american_government.htm
/garrettquintus/amendments.htm:amendments.htm
/jonathanvikan/amendments.htm:amendments.htm
/heidiwolf/amendments.htm:amendments.htm
/ashleymesser/amendments.htm:amendments.htm
/michellefrederick/amendments.htm:amendments.htm
/wademesser/amendments.htm:amendments.htm
/wesleymesser/5th_amendment.htm:amendments.htm
/bethanigoetz/ammendments.htm:amendments.htm
http\://www.cnn.com:index.htm
http\://www.theodoreroosevelt.org/:new_page_1.htm
http\://dynaweb.oac.cdlib.org/dynaweb/ead/omca/lange_ead/@generic__bookview;cs=default;ts=default:u_s_history_modern.htm
http\://www.agdepartment.com/:north_dakota_history.htm
/brandonscholz/amendments.htm:amendments.htm
/shaneelkins/amendment.htm:amendments.htm
/devonjesperson/default.htm:amendments.htm
http\://www.house.gov/pomeroy/:north_dakota_history.htm
http\://www.fortmandan.com:new_page_1.htm
/jeremymesser/amendments.htm:amendments.htm
