vti_encoding:SR|utf8-nl
mailto\:barbara.gress@sendit.nodak.edu:default.htm
http\://www.fuzzyfaces.com/irpooh33.html:pooh.htm
http\://www.msu.edu/user/steinbr1/pooh/dispooh.htm:pooh.htm
http\://www.richardton-taylor.k12.nd.us/:sam.meehan/default.htm
http\://www.richardton.k12.nd.us:music.htm
mailto\:sam.meehan@sendit.nodak.edu:sam.meehan/default.htm
